@font-face {
    font-family: 'Pangram-bold';
    src: url('PPPangramSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pangram';
    src: url('PangramSans-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



