<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>КИТ - Согласие на обработку персональных данных</title>
  <link rel="stylesheet" href="./css/main.css" />
  <link rel="stylesheet" href="./fonts/Montserrat/stylesheet.css" />
  <link rel="stylesheet" href="./fonts/Oswald/stylesheet.css" />
  <link rel="stylesheet" href="./fonts/Pangram/stylesheet.css" />
</head>

<body>
  @@include('blocks/header/header.html')
  <main class="main">
    @@include('blocks/breadcrumb.html')
    <section class="personal-agreement section">
      <div class="container">


        <div class="personal-agreement__content">
          <div class="personal-agreement__section">
            <h1 class="personal-agreement__section-title">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ ООО предприятие «ИП
              К.И.Т.»</h1>

            <div class="personal-agreement__section-text">
              <p>Настоящим Я, в соответствии со ст. 9 ФЗ от 27.07.2006 N 152-ФЗ "О персональных данных", предоставляю
                ООО предприятие «ИП К.И.Т.» (ИНН: 3662053761, адрес: 394088, г. Воронеж, ул. Владимира Невского, д. 17
                Б) согласие на обработку моих персональных данных: фамилии, имени, отчества, номера телефона, адреса
                электронной почты, года, месяца, даты рождения, почтового адреса.</p>

              <p>Цель обработки персональных данных: обратный звонок субъекту персональных данных и связь с ним,
                предоставление информации, оказание услуг, отправка информационных, рекламно-информационных сообщений.
              </p>

              <p>Категории субъектов персональных данных: Пользователи сайта, которые оставляют заявку на обратный
                звонок, оказание услуг.</p>

              <p>Способы обработки персональных данных: сбор, запись, систематизация, накопление, хранение, уточнение
                (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ),
                обезличивание, блокирование, удаление, уничтожение персональных данных, в том числе в информационных
                системах персональных данных с использованием средств автоматизации или без использования таких средств.
              </p>

              <p>Передача персональных данных может быть осуществлена при необходимости в случаях, предусмотренных
                российским законодательством.</p>

              <p>Настоящее согласие действует со дня его предоставления до дня отзыва путем письменного обращения по
                юридическому адресу: 394088, г. Воронеж, ул. Владимира Невского, д. 17 Б.</p>

              <p>Я согласен/ согласна квалифицировать в качестве своей простой электронной подписи под настоящим
                Согласием и под Политикой обработки персональных данных выполнение мною следующего действия на сайте:
                https://oooipkit.ru/: простановка мною символа в чек-боксе (в поле для ввода) рядом с текстом: "Я
                ознакомлен(-а) с Политикой обработки персональных данных и даю свое согласие на обработку персональных
                данных".</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  @@include('blocks/footer.html')
  <script src="./js/index.bundle.js"></script>
  @@include('blocks/modal-success.html')
</body>

</html>