<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>КИТ - Согласие на обработку персональных данных с помощью сервиса «Яндекс.Метрика»</title>
  <link rel="stylesheet" href="./css/main.css" />
  <link rel="stylesheet" href="./fonts/Montserrat/stylesheet.css" />
  <link rel="stylesheet" href="./fonts/Oswald/stylesheet.css" />
  <link rel="stylesheet" href="./fonts/Pangram/stylesheet.css" />
</head>

<body>
  @@include('blocks/header/header.html')
  <main class="main">
    @@include('blocks/breadcrumb.html')
    <section class="personal-agreement section">
      <div class="container">
        <h1 class="title">Согласие на обработку персональных данных с помощью сервиса «Яндекс.Метрика»</h1>

        <div class="personal-agreement__content">
          <div class="personal-agreement__section">
            <div class="personal-agreement__section-text">
              <p>1. Я (далее - "Пользователь" или "Субъект персональных данных"), осуществляя заполнение и отправку
                заявки на сайте https://oooipkit.ru/ (далее - "Сайт"), подтверждая свою полную дееспособность и, если
                применимо, законность своего представительства в отношении ограниченно дееспособного или недееспособного
                лица, я даю согласие на обработку персональных данных как без использования средств автоматизации, так и
                с их использованием, Организации – ООО предприятие «ИП К.И.Т.» (ИНН: 3662053761, адрес: 394088, г.
                Воронеж, ул. Владимира Невского, д. 17 Б, e-mail: kitsnabkit@yandex.ru), со следующими условиями.</p>

              <p>2. Категории обрабатываемых данных: файлы "cookies" (куки-файлы). Файлы "cookie" – это фрагмент данных,
                отправленный сервером Организации и хранимый на устройстве Субъекта персональных данных. Содержимое
                такого файла может как относиться, так и не относиться к персональным данным, в зависимости от того,
                содержит ли такой файл персональные данные или содержит обезличенные технические данные.</p>

              <p>3. Цель обработки персональных данных: анализ пользовательской активности с помощью сервиса
                "Яндекс.Метрика".</p>

              <p>4. Категории субъектов персональных данных: все Пользователи Сайта, которые дали согласие на обработку
                файлов "cookie" (куки-файлы).</p>

              <p>5. Способы обработки: сбор, запись, систематизация, накопление, хранение, уточнение (обновление,
                изменение), извлечение, использование, обезличивание, передача (доступ, предоставление), блокирование,
                удаление, уничтожение персональных данных.</p>

              <p>6. Срок обработки и хранения: до получения от субъекта персональных данных требования о прекращении
                обработки/отзыва согласия.</p>

              <p>7. Способ отзыва: заявление об отзыве в письменном виде путём его направления на адрес электронной
                почты: kitsnabkit@yandex.ru или путем письменного обращения по юридическому адресу: 394088, г. Воронеж,
                ул. Владимира Невского, д. 17 Б.</p>

              <p>8. Субъект персональных данных вправе запретить своему оборудованию прием этих данных или ограничить
                прием этих данных. При отказе от получения таких данных или при ограничении приема данных некоторые
                функции Сайта могут работать некорректно. Субъект персональных данных обязуется сам настроить свое
                оборудование таким способом, чтобы оно обеспечивало адекватный его желаниям режим работы и уровень
                защиты данных файлов "cookie", а Организация не предоставляет технологических и правовых консультаций на
                темы подобного характера.</p>

              <p>9. Порядок уничтожения персональных данных при достижении цели их обработки или при наступлении иных
                законных оснований: лицо, ответственное за обработку персональных данных, производит стирание данных
                методом перезаписи (замена всех единиц хранения информации на "0") с составлением акта об уничтожении
                персональных данных.</p>

              <p>10. Я согласен/ согласна квалифицировать в качестве своей простой электронной подписи под настоящим
                Согласием и под Политикой обработки персональных данных выполнение мною следующего действия на сайте:
                https://oooipkit.ru/ нажатие мною на интерфейсе с текстом "Мы используем сервис "Яндекс.Метрика",
                который использует файлы "cookie". Подробнее здесь" на элемент с текстом "Я согласен / согласна".</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  @@include('blocks/footer.html')
  <script src="./js/index.bundle.js"></script>
  @@include('blocks/modal-success.html')
</body>

</html>